    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
      integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
      crossorigin=""
    ></script>
    <style>
      body {
        margin: 0;
      }
      h1,
      h2,
      p {
        font-family: sans-serif;
        text-align: center;
      }
      .leaflet-container {
        height: 96vh;
        width: 97vw;
        margin: 0 auto;
      }
    </style>


<div id="root"></div>
<%= javascript_pack_tag 'application' %>
